body {
    margin: 0;
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Toolbar Styles */
.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #EDF2F4;
    border-bottom: 2px solid #2B2D42;
    position: relative;
}

.toolbar-left,
.toolbar-right {
    display: flex;
    align-items: center;
}

.toolbar-left span {
    margin-right: 15px;
    font-weight: bold;
}

.toolbar-right {
    gap: 30px;
}

.toolbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.toolbar-extra {
    position: relative;
}

.icon {
    cursor: pointer;
    color: #2B2D42;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.2);
}

.toolbar-icon.active {
    color: #D90429;
}

.toolbar-icon.unactive {
    color: #8D99AE;
}

/* Canvas Container Styles */
.canvas-container {
    position: relative;
    width: 100%;
    flex-grow: 1;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

#graph-canvas {
    width: 100%;
    height: 100%;
    transform-origin: center;
}

/* Control Styles */
.help-control,
.slider-control,
.force-toggle {
    position: absolute;
    bottom: 20px;
    display: flex;
}

.help-control {
    right: 20px;
}

.slider-control,
.force-toggle {
    left: 20px;
}

.help-control i,
.slider-control i,
.force-toggle i {
    margin: 10px;
    padding: 10px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Popup Styles */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-width: 600px;
    position: relative;
    text-align: center;
}

.popup-content h2 {
    margin-top: 0;
}

.popup-content ul {
    list-style-type: none;
    padding: 0;
}

.popup-content ul li {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.popup-content ul li i {
    margin-right: 10px;
}

#close-popup {
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
}

/* Color Picker Styles */
#color-picker-toolbar {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

.color-option {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 8px;
    cursor: pointer;
}

/* Node and Link Styles */
.node > circle {
    stroke-width: 4px;
    cursor: pointer;
}

.node > text {
    cursor: pointer;
}

.link,
.drag_link {
    cursor: pointer;
}

.drag_link {
    stroke-width: 5px;
    stroke-linecap: round;
}

.link.selected {
    opacity: 1;
}

.node.selected > circle {
    stroke-width: 4px;
    stroke: black;
}

/* Node Info Styles */
#node_id,
#node_label,
#node_color {
    margin-inline: 5px;
    text-align: center;
}

#node_id {
    width: 30px;
}

#node_label {
    width: 50px;
}

#node_color {
    width: 80px;
}

/* Color Picker */
#color-picker {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.color-option {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

/* Force Control Styles */
.force-control {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #EDF2F4;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.force-control label {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.force-control input {
    width: 150px;
}

#close-slider {
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 10px;
}

#force-on {
    display: none;
}

#slider-icon {
    display: none;
}
